<!-- 5. 5. 4 登録失敗時のエラーメッセージを表示しよう-->
<!-- エラーメッセージをブラウザに表示するには、エラーメッセージ用のパーシャルを出力-->
<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <!--入力エラーが< %= pluralize@user.errors.count, "error") %>件ありました。-->
      入力エラーが<%= @user.errors.count %>件ありました。<!-- ロケールファイルを作成しよう-->
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>